body {
  margin: 0;
  padding: 0;
}

/* .Palette {
  height: 100vh;
  display: flex;
  flex-direction: column;
} */

.Palette-colors {
  height: 90%;
}
.Palette-footer {
  display: flex;
  background: white;
  height: 5vh;
  justify-content: flex-end;
  align-items: center;
}
.Palette-emoji {
  font-size: 1.5rem;
  margin: 0 1rem;
}
